In [1]:
from frictionless import Catalog

In [2]:
c = Catalog("../awesome_random_datasets.yaml")

In [3]:
c.get_dataset("co2").package.get_resource("co2_mm_gl").to_pandas().sample(5)

     year month   decimal average average_unc   trend trend_unc
374  2010     3  2010.208  389.68        0.10  388.03      0.05
235  1998     8  1998.625  363.79        0.09  366.28      0.05
179  1993    12  1993.958  357.86        0.11  357.49      0.07
483  2019     4  2019.292  411.35        0.11  409.52      0.08
512  2021     9  2021.708  412.38        0.07  415.24      0.06

In [4]:
c.get_dataset("rotten_tomatoes").package.get_resource("rotten_tomatoes")

{'name': 'rotten_tomatoes',
 'type': 'table',
 'path': 'https://huggingface.co/datasets/rotten_tomatoes/resolve/refs%2Fconvert%2Fparquet/default/rotten_tomatoes-train.parquet',
 'scheme': 'https',
 'format': 'parquet',
 'mediatype': 'appliction/parquet'}

In [5]:
c.get_dataset("ipfs_co2").package.get_resource("co2_mm_mlo")

{'name': 'co2_mm_mlo',
 'type': 'table',
 'path': 'https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_mm_mlo.csv',
 'scheme': 'https',
 'format': 'csv',
 'mediatype': 'text/csv'}