# Quickstart


Let's package the "[Trends in Atmospheric Carbon Dioxide](https://gml.noaa.gov/ccgg/trends/global.html)" dataset. This dataset is available as a CSV file and is updated on a daily basis. We can either package the external dataset or duplicate the data and package that instead. Each approach has it's pros and cons.

Let's start with the simplest option, packaging the external dataset. To do that, we simply wrap the dataset around a [Frictionless Data Package](https://specs.frictionlessdata.io/data-package/).

In [5]:
from frictionless import Package

In [21]:
%%writefile /tmp/external_data_datapackage.yaml
name: co2-mm-mlo
title: Trends in Atmospheric Carbon Dioxide
resources:
  - name: co2_trend_gl
    type: table
    path: https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_trend_gl.csv
    scheme: https
    format: csv
    mediatype: text/csv
    encoding: utf-8
    dialect:
      headerRows:
        - 42
    schema:
      fields:
        - name: year
          type: string
        - name: month
          type: string
        - name: day
          type: string
        - name: smoothed
          type: string
        - name: trend
          type: string

Overwriting /tmp/external_data_datapackage.yaml

In [23]:
p = Package("/tmp/external_data_datapackage.yaml")

In [25]:
p.resources[0].to_pandas().head()

   year month day  smoothed     trend
0  2013     1   1    395.18    394.28
1  2013     1   2    395.20    394.29
2  2013     1   3    395.22    394.29
3  2013     1   4    395.24    394.30
4  2013     1   5    395.27    394.31